div#recipe-post {
  a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  p {
    margin-block: 10px;
  }

  #recipe-card {
    p {
      margin:0
    }
  }

  ol {
    li {
      list-style: decimal;
      margin-left: 2.5rem;
      vertical-align: top;

      &::marker {
        vertical-align: top;
      }
      p {
        display: inline-block;
      }
    }
  }

  ul {
    li {
      margin-left: 2.5rem;
      list-style: inherit;
      //transform: translateX(15px);
      margin-block: 7px;
      //&:before {
        ////content: '🍀 ';
        //content: '🥑';
        //margin-right: 7px;
      //}
    }
  }

  span.embed-youtube {
    width: 100%;
    padding-bottom: calc(100% * (9 / 16));
    position: relative;
    margin-block: 15px;
    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
